@model linkedinproject.Models.Interest
<div style="position:relative; margin-top:20%;">
<h1>
    @Html.DisplayFor(model => model.Employee.FullName) are you sure you are not interested in:</h1>
    <!--<dl class="row">
        <dt class = "col-sm-2">
            Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            Html.DisplayFor(model => model.Employee.FirstName)
        </dd class>
        -->
    <div style="font-size:35px; text-align:center; font-family:'Bookman Old Style'; "> 
     @Html.DisplayFor(model => model.Employer.Name)
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Yes I am not interested!" class="btn btn-danger" />
        <br />
        <div class="btn btn-light">
            <button href='javascript:history.go(-1)' style="border:none; background-color:transparent;">I changed my mind</button>
        </div>
    </form>
</div>
