@model linkedinproject.Models.Employee

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style=" background-image: url('../images/background.jpg'); background-size:cover;">

    @foreach (var item in Model.Aplikacii)
    {
       
    <div class="fontface" style="text-align:center; position:relative; border:solid 1px; font-weight:bold;">
        <a asp-area="" asp-controller="Employee" asp-action="EmployeeSeeProfile" asp-route-id="@item.Oglas.EmployerId">
            <strong style="font-size:40px;"> @Html.DisplayFor(modelItem => item.Oglas.Employer.Name)</strong>
            </a>
            <hr />
            <div style="font-weight:bold; font-size:30px;">@Html.DisplayFor(modelItem => item.Oglas.JobTitle)</div>
            <div>@Html.DisplayFor(modelItem => item.Oglas.Description)</div>
    </div>
        
    }

</body>
</html>