@model linkedinproject.ViewModels.EVMCV
<div style="position:relative; left:20%; margin-top:10%; width:225%; text-align:center; font-size:20px;">
    <div class="col-md-4">
        <form asp-action="EditCV" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label" hidden></label>
                <input type="hidden" asp-for="FirstName" class="form-control" hidden />
                <span asp-validation-for="FirstName" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label" hidden></label>
                <input type="hidden" asp-for="LastName" class="form-control" hidden />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label" hidden></label>
                <input type="hidden" asp-for="Age" class="form-control" hidden />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImage" class="control-label" hidden></label>
                <input type="hidden" asp-for="ProfileImage" class="form-control" hidden />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label" hidden></label>
                <input type="hidden" asp-for="CoverImage" class="form-control" hidden />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="CVFile" class="control-label"><strong>CV:</strong></label>
                <div class="custom-file">
                    <input asp-for="CVFile" class="form-control" id="customFile">
                </div>
                <span asp-validation-for="CVFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CoverLetterFile" class="control-label" hidden></label>
                <div class="custom-file " hidden >
                    <input asp-for="CoverLetterFile" class="form-control" id="customFile" type="hidden">
                </div>
                <span asp-validation-for="CoverLetterFile" class="text-danger"></span>
            </div>



            <div class="form-group" hidden>
                <label asp-for="GitHubLink" class="control-labe"l hidden><strong>Link form GitHub</strong></label>
                <input asp-for="GitHubLink" class="form-control" hidden />
                <span asp-validation-for="GitHubLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPosition" class="control-label" hidden></label>
                <input type="hidden" asp-for="CurrentPosition" class="form-control" hidden />
                <span asp-validation-for="CurrentPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WantedPosition" class="control-label" hidden></label>
                <input type="hidden" asp-for="WantedPosition" class="form-control" hidden />
                <span asp-validation-for="WantedPosition" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label" hidden></label>
                <textarea type="text" rows="5" asp-for="Description" class="form-group" style="height:200px; width:250px;" hidden></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="Location" class="control-label" hidden><strong>Location</strong></label>
                <input asp-for="Location" class="form-control" hidden />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="PhoneNumber" class="control-label" hidden><strong>Phone Number</strong></label>
                <input asp-for="PhoneNumber" class="form-control" hidden />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Mail" class="control-label" hidden> <strong>Mail</strong></label>
                <input asp-for="Mail" class="form-control" hidden/>
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Password" class="control-label" hidden></label>
                <input asp-for="Password" class="form-control" hidden />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills" class="control-label" hidden></label>
                <textarea type="text" rows="5" asp-for="Skills" class="form-group" style="height:200px; width:250px;" hidden></textarea>
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a asp-action="EmployeeHomePage" asp-route-id="@Model.Id">Back to profile</a>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  