@model IEnumerable<linkedinproject.Models.Employer>


@foreach (var item in Model)
{

<div class="fontface" style="text-align:center; position:relative; border:solid 1px; font-weight:bold;">
    <a asp-area="" asp-controller="Employer" asp-action="EmployeeSeeProfile" asp-route-id="@item.Id">
        <img src="~/images/@item.ProfilePicture"
             class="rounded-circle"
             height="100" width="100" style="margin-top:0.5%;"
             asp-append-version="true" />
        <div style="font-size:40px;"> <strong> @Html.DisplayFor(modelItem => item.Name)</strong> </div>
    </a>
    <br />
    @foreach (var oglas in item.Oglasi)
    {
        <hr />
        <div style="font-family:Candara;">
            <div style="font-size:30px;"><strong>@Html.DisplayFor(modelItem => oglas.JobTitle)</strong></div>
            @Html.DisplayFor(modelItem => oglas.Description)
        </div>
    }
    <br />
</div>
 }

