<body>

    <h1 style="text-align:center; font-weight:bolder;">Which one are you?</h1>
    <div style="text-align:center;">
    <div style="position:relative;  margin-bottom:1%; align-content:center;">
        <a asp-area="" asp-controller="Employer" asp-action="Create">
            <img src="/images/employer.jpg" height="400" width="500" />
            <br />
            Employer
        </a>
    </div>
    <div style="position:relative; align-content:center;">
        <a asp-area="" asp-controller="Employee" asp-action="Create">
            <img src="/images/employee.jpg" height="400" width="500" />
            <br />
            Employee
        </a>
    </div>
    </div>
</body>